@import "./../../styles.scss";

:host {
  .header_nav {
    &__container {
      width: 100vw;
      height: 8rem;
      background-color: $nav-base-color;
      display: flex;
      flex-direction: column;
      position: relative;
    }

    &__icon {
      width: 5rem;
      height: 5rem;
      justify-content: flex-start;
    }

    &__navigation {
      position: absolute;
      bottom: 0;
      width: 100vw;
      height: 3rem;
      margin: 0 auto;
      text-align: center;
    }

    &__input {
      width: 25%;
      height: 2rem;
      margin-bottom: .5rem;
      justify-content: end;
    }
  }
}
